@page "/adminpage"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

@implements IAsyncDisposable
<div vertical orientation>
    <label>Add time</label>
    <input type="text" @bind="AddTimeString"/>
    <button @onclick="AddTimeEvent">Send</button>
</div>
<div vertical orientation>
    <button @onclick="PauseGameEvent">Pause</button>
    <button @onclick="ResumeGameEvent">Resume</button>
</div>
<div vertical orientation>
    <button @onclick="PreviousChallengeEvent">Previous challenge</button>
    <button @onclick="NextChallengeEvent">Next challenge</button>
</div>
@code {
    private HubConnection? hubConnection;
    private string AddTimeString = "";

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
             .WithUrl(Navigation.ToAbsoluteUri("/logincontroller"))
             .Build();
        await hubConnection.StartAsync();
    }

    private async Task AddTimeEvent() {
        int time = Convert.ToInt32(AddTimeString);
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("AddTime", time);
        }
    }

    private async Task PauseGameEvent()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("IsGameRunning", false);
        }
    }
    private async Task ResumeGameEvent()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("IsGameRunning", true);
        }
    }

    private async Task PreviousChallengeEvent()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("PreviousChallenge");
        }
    }

    private async Task NextChallengeEvent()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("NextChallenge");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}
